## Q1. What is Min-Max scaling, and how is it used in data preprocessing? Provide an example to illustrate its application.

In [1]:
## Min-Max scaling is a technigue to reduce all the data points in range of 0 to 1.

In [3]:
import seaborn as sns
df = sns.load_dataset('iris')

In [4]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [5]:
from sklearn.preprocessing import MinMaxScaler

In [6]:
min_max = MinMaxScaler()

In [7]:
import pandas as pd
pd.DataFrame(min_max.fit_transform(df[['sepal_length','sepal_width']]))

            0         1
0    0.222222  0.625000
1    0.166667  0.416667
2    0.111111  0.500000
3    0.083333  0.458333
4    0.194444  0.666667
..        ...       ...
145  0.666667  0.416667
146  0.555556  0.208333
147  0.611111  0.416667
148  0.527778  0.583333
149  0.444444  0.416667

[150 rows x 2 columns]

## Q2. What is the Unit Vector technique in feature scaling, and how does it differ from Min-Max scaling? Provide an example to illustrate its application.

In [8]:
## Unit vector scaling is a technique in feature scaling in which for each dataset unit vector is calculated.
## In Min-Max scaling value lies between 0 to 1, but in unit vector it can be different.

In [9]:
from sklearn.preprocessing import normalize

In [10]:
pd.DataFrame(normalize(df[['sepal_length','sepal_width']]))

            0         1
0    0.824513  0.565842
1    0.852851  0.522154
2    0.826599  0.562791
3    0.829266  0.558853
4    0.811534  0.584305
..        ...       ...
145  0.912685  0.408665
146  0.929491  0.368846
147  0.907959  0.419058
148  0.876812  0.480833
149  0.891385  0.453247

[150 rows x 2 columns]

## Q3. What is PCA (Principle Component Analysis), and how is it used in dimensionality reduction? Provide an example to illustrate its application.

In [1]:
## PCA is feature extraction technique which converts multidimentional data in lower level.
## If there are two dimention of data then it is converted into single dimention.

## Q4. What is the relationship between PCA and Feature Extraction, and how can PCA be used for Feature Extraction? Provide an example to illustrate this concept.

In [2]:
## It is used to reduce number of dimentions of data. It selects such a plain on which all data points are projected.
##      Then a common line is drawn and that is considered best features.

## Q5. You are working on a project to build a recommendation system for a food delivery service. The dataset contains features such as price, rating, and delivery time. Explain how you would use Min-Max scaling to preprocess the data.

In [3]:
## Min Max scaling is used to convert data in 0 to 1 range.
## we will first select any one or two features then from sklearn.preprossing we will import MinMaxScaler.
## then we will create object for minmaxscalar.
## after that we will use fit_transform method to convert data in range of 0 to 1.

## Q6. You are working on a project to build a model to predict stock prices. The dataset contains many features, such as company financial data and market trends. Explain how you would use PCA to reduce the dimensionality of the dataset.

In [4]:
## PCA reduces the dimentionality of dataset.
## first all datapoints will be ploted on graph.
## then best plane is drawn on which all data points are projected.
## so now data points are converted into 2d plane.
## then one line is drawn on which all data points are projected.
## In this way dimentionality is reduced.

## Q7. For a dataset containing the following values: [1, 5, 10, 15, 20], perform Min-Max scaling to transform the values to a range of -1 to 1.

In [16]:
d = [1,5,10,15,20]
from sklearn.preprocessing import MinMaxScaler
import pandas as pd
df = pd.DataFrame(d,columns=['f1'])

In [17]:
df

   f1
0   1
1   5
2  10
3  15
4  20

In [18]:
min_max = MinMaxScaler()

In [20]:
pd.DataFrame(min_max.fit_transform(df[['f1']]))

          0
0  0.000000
1  0.210526
2  0.473684
3  0.736842
4  1.000000

## Q8. For a dataset containing the following features: [height, weight, age, gender, blood pressure], perform Feature Extraction using PCA. How many principal components would you choose to retain, and why?

In [21]:
## We need to choose all the features.
## because all the feature are important to test the condition of patient.