## Q1. What is data encoding? How is it useful in data science?

In [1]:
## Data encoding is a method in which categorical values are converted ito mumerical values.
## It is used in data science because categorical data is not understud by model so that data is converted into
##    numerical data so model could understand it an used for training it.

## Q2. What is nominal encoding? Provide an example of how you would use it in a real-world scenario.

In [2]:
## in nominal encoding if there are two catogaries then 0 and 1 values are assigned to them.

In [4]:
import pandas as pd
df = pd.DataFrame({'class':['red','blue','green','blue','red','green']})

In [5]:
df

   class
0    red
1   blue
2  green
3   blue
4    red
5  green

In [6]:
from sklearn.preprocessing import OneHotEncoder

In [7]:
encoder = OneHotEncoder()

In [9]:
encoder.fit_transform(df[['class']]).toarray()

array([[0., 0., 1.],
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 1., 0.]])

## Q3. In what situations is nominal encoding preferred over one-hot encoding? Provide a practical example.

In [10]:
## When data is more in number but the categories are less.

## Q4. Suppose you have a dataset containing categorical data with 5 unique values. Which encoding technique would you use to transform this data into a format suitable for machine learning algorithms? Explain why you made this choice.

In [11]:
## we can use ordinal encoding technique.
## This method can be used because they will be assigned with numerical values from 0 to 4.
## so model can understand the numerical data and it can take decitions.

## Q5. In a machine learning project, you have a dataset with 1000 rows and 5 columns. Two of the columns are categorical, and the remaining three columns are numerical. If you were to use nominal encoding to transform the categorical data, how many new columns would be created? Show your calculations.

In [12]:
## There are total 5 columns
## 3 are categorical and 2 are numerical
## three new columns will be created.

## Q6. You are working with a dataset containing information about different types of animals, including their species, habitat, and diet. Which encoding technique would you use to transform the categorical data into a format suitable for machine learning algorithms? Justify your answer.

In [13]:
## We will use target guided ordinal encoding.
## This methos is used because if there are two or more data points with same category then mean of data is taken.

## Q7.You are working on a project that involves predicting customer churn for a telecommunications company. You have a dataset with 5 features, including the customer's gender, age, contract type, monthly charges, and tenure. Which encoding technique(s) would you use to transform the categorical data into numerical data? Provide a step-by-step explanation of how you would implement the encoding.

In [14]:
## we will use ordinal encoding.
## data points are assigned the numerical values from 0 to till end.
## then that converted data is used to train machine learning model.