## Q1. What is the difference between Ordinal Encoding and Label Encoding? Provide an example of when you might choose one over the other.

In [1]:
## LabelEncoder should be used to encode target values, i.e. y, and not the input X. Ordinal encoding should be used 
##    for ordinal variables (where order matters, like cold , warm , hot ); vs Label encoding should be 
##    used for non-ordinal (aka nominal) variables (where order doesn't matter, like blonde , brunette )

## Q2. Explain how Target Guided Ordinal Encoding works and provide an example of when you might use it in a machine learning project.

In [2]:
## In target guided ordinal encoding categorical data is assigned with numerical numbers.
## we use it when data is categorial and there is large data.

## Q3. Define covariance and explain why it is important in statistical analysis. How is covariance calculated?

In [3]:
## Covariance is the relation between two random variables.
## It is important in statistical analysis because it tells that how a veriable is related to other variable.
## It is calculated by formula cov(x,y)=(x-mean of x)(y-mean of y)/n-1

## Q4. For a dataset with the following categorical variables: Color (red, green, blue), Size (small, medium, large), and Material (wood, metal, plastic), perform label encoding using Python's scikit-learn library. Show your code and explain the output.

In [4]:
import pandas as pd
df = pd.DataFrame({'Color':['red', 'green', 'blue'],
                   'Size':['small', 'medium', 'large'],
                   'Material':['wood', 'metal', 'plastic']})

In [5]:
df.head()

   Color    Size Material
0    red   small     wood
1  green  medium    metal
2   blue   large  plastic

In [6]:
from sklearn.preprocessing import LabelEncoder
label = LabelEncoder()

In [10]:
label.fit_transform(df['Color'])

array([2, 1, 0])

In [14]:
label.fit_transform(df['Size'])

array([2, 1, 0])

In [16]:
label.fit_transform(df['Material'])

array([2, 0, 1])

In [15]:
label.transform(['small'])

array([2])

In [17]:
label.transform(['plastic'])

array([1])

## Q5. Calculate the covariance matrix for the following variables in a dataset: Age, Income, and Education level. Interpret the results.

In [18]:
df = pd.DataFrame({'age':[10,20,30],
                   'income':[0,1000,3000],
                   'edu':[3,14,20]})

In [19]:
df.corr()

             age    income       edu
age     1.000000  0.981981  0.985887
income  0.981981  1.000000  0.936484
edu     0.985887  0.936484  1.000000

## Q6. You are working on a machine learning project with a dataset containing several categorical variables, including "Gender" (Male/Female), "Education Level" (High School/Bachelor's/Master's/PhD), and "Employment Status" (Unemployed/Part-Time/Full-Time). Which encoding method would you use for each variable, and why?

In [20]:
## For gender we will use nominal encoding. because only two values are present so it would be easy.
## For Education Level we will use ordinal encoding as order is important in education.
## For employment status we can use Target Guided Ordinal Encoding.

## Q7. You are analyzing a dataset with two continuous variables, "Temperature" and "Humidity", and two categorical variables, "Weather Condition" (Sunny/Cloudy/Rainy) and "Wind Direction" (North/South/ East/West). Calculate the covariance between each pair of variables and interpret the results.

In [21]:
## First we need to convert all data in numerical values.
## use different encoding techniques on categorical data.
## then find covariance.

In [34]:
df = pd.DataFrame({'temp':[25,30,26,24],
                   'humidity':[10,20,30,15],
                   'wc':['r','s','s','c'],
                   'wd':['n','s','s','n']})

In [35]:
df

   temp  humidity wc wd
0    25        10  r  n
1    30        20  s  s
2    26        30  s  s
3    24        15  c  n

In [24]:
from sklearn.preprocessing import LabelEncoder
label = LabelEncoder()

In [27]:
x = label.fit_transform(df['wc'])

In [28]:
x

array([1, 2, 2, 0])

In [29]:
y = label.fit_transform(df['wd'])

In [30]:
y

array([0, 1, 1, 0])

In [50]:
x1=list(x)
y1=list(y)
df2 = pd.DataFrame(data=x1,columns=['wind_condition'])
df3 = pd.DataFrame(data=y1,columns=['wind_direction'])

In [51]:
df

   temp  humidity wc wd
0    25        10  r  n
1    30        20  s  s
2    26        30  s  s
3    24        15  c  n

In [52]:
df2

   wind_condition
0               1
1               2
2               2
3               0

In [53]:
df3

   wind_direction
0               0
1               1
2               1
3               0

In [58]:
df['wd']=df3['wind_direction']

In [59]:
df

   temp  humidity wc  wd
0    25        10  r   0
1    30        20  s   1
2    26        30  s   1
3    24        15  c   0

In [60]:
df['wc']=df2['wind_condition']

In [61]:
df

   temp  humidity  wc  wd
0    25        10   1   0
1    30        20   2   1
2    26        30   2   1
3    24        15   0   0

In [62]:
df.cov()

              temp   humidity        wc        wd
temp      6.916667   7.083333  1.916667  1.166667
humidity  7.083333  72.916667  5.416667  4.166667
wc        1.916667   5.416667  0.916667  0.500000
wd        1.166667   4.166667  0.500000  0.333333

In [63]:
df.corr()

              temp  humidity        wc        wd
temp      1.000000  0.315410  0.761189  0.768350
humidity  0.315410  1.000000  0.662541  0.845154
wc        0.761189  0.662541  1.000000  0.904534
wd        0.768350  0.845154  0.904534  1.000000